.hidden {
    display: none;
}

.cart-counter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-counter.visible {
    opacity: 1;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.cart-counter.hidden{
    opacity: 0;
    transform: translateX(0px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}